/* INICIO  Y SOBRE MI*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
}

.container-titulo {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 5em;
  margin-left: 5em;
  padding: 2em;
  gap: 2.5em;
  min-width: 475px;
}

.container-img {
  flex: 1;
  min-width: 400px;
  display: flex;
  justify-content: center;
}

.subtitulo {
  font-size: 1.5em;
  font-weight: 500;
}

@media (max-width: 750px) {
  .container-titulo {
    margin: 1em;
    margin-top: 10em;
    min-width: 100%;
  } 

  .container-img {
    min-width: 100%;
  }

}

@media (max-width: 972px) {
  .container-titulo {
    margin-left: 3em;
  }
}