body {
  background: linear-gradient(to left, #ffffff, #f5f0f6);
  color: #331B3B;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
}

/* Estilos generales */

p {
  font-size: 1.2em;
  line-height: 150%;
}

/* Estilos de botones */
.boton,
.boton-outlined {
  width: fit-content;
  outline: none;
  border: none;
  border-radius: 10px;
  
  place-self: center;
  
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.boton {
  padding: 1em 2.5em;
  color: white;
  background-color: #331B3B;
}

.boton-outlined {
  color: #331B3B;
  background-color: transparent;
  
  padding: .5em 1.5em;
  border: 1px solid #331B3B;
}

.boton:hover,
.boton-outlined:hover {
  background-color: #4a2755;
  color: white;
}

/* Estilos de decoración */

h2 {
  font-size: 2.5em;
}

.font-color {
  color: #DE1E88;
  font-size: 1.5em;
}

.highlight {
  position: relative;
  font-weight: inherit;
  display: inline-block;
}

.highlight::before {
  background-color: #FFA8F6;
  content: "";
  width: calc(100% + 4px);
  height: 40%;
  position: absolute;
  left: -2px;
  bottom: 0;
  z-index: -1;
}

.bg-radio {
  width: 90%;
  padding: 2em;
  position: relative;
  z-index: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

footer {
  position: relative;
  padding: 2rem;
  background: linear-gradient(to bottom, #d8358f, #eb5dab);
  color: white;
  z-index: 11;
}

/* Media Queries */
@media (max-width: 750px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .bg-radio {
    width: 100%;
  }
}